body {
    margin-left: 50px;
    margin-right: 50px;
}


#appendix {
    margin-left: 150px;
    background-color: #f9f9f9
}

.firstcolumn {
    width: 100px
}

.secondcolumn {
    width: 250px
}

.thirdcolumn {
    width: 350px
}

#left {
    margin-left: 150px;
    height: 700px;
    float: left;
}

#right {
    margin-left: 850px;
    height: 700px;
}


#map {
    margin-left: 50px;
    height: 380px;
}

.intro {
    position:fixed;left:5px;top:200px;
    border-radius: 6px;
    background-color: lightgrey;
    border: none;
    color: BLACK;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}