  .btn-purple { 
      color: #ffffff; 
      background-color: #611BBD; 
      border-color: #130269; 
    } 

    .btn-purple:hover, 
    .btn-purple:focus, 
    .btn-purple:active, 
    .btn-purple.active, 
    .open .dropdown-toggle.btn-purple { 
      color: #ffffff; 
      background-color: #49247A; 
      border-color: #130269; 
    } 

    .btn-purple:active, 
    .btn-purple.active, 
    .open .dropdown-toggle.btn-purple { 
      background-image: none; 
    } 

    .btn-purple.disabled, 
    .btn-purpledisabled], 
    fieldset[disabled] .btn-purple, 
    .btn-purple.disabled:hover, 
    .btn-purple[disabled]:hover, 
    fieldset[disabled] .btn-purple:hover, 
    .btn-purple.disabled:focus, 
    .btn-purple[disabled]:focus, 
    fieldset[disabled] .btn-purple:focus, 
    .btn-purple.disabled:active, 
    .btn-purple[disabled]:active, 
    fieldset[disabled] .btn-purple:active, 
    .btn-purple.disabled.active, 
    .btn-purple[disabled].active, 
    fieldset[disabled] .btn-purple.active { 
      background-color: #611BBD; 
      border-color: #130269; 
    } 

    .btn-purple .badge { 
      color: #611BBD; 
      background-color: #ffffff; 
    }
.btn-pink { 
  color: #ffffff; 
  background-color: #CC3DC2; 
  border-color: #CC3DC2; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #A82BA8; 
  border-color: #CC3DC2; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #CC3DC2; 
  border-color: #CC3DC2; 
} 
 
.btn-pink .badge { 
  color: #CC3DC2; 
  background-color: #ffffff; 
}
            
            .btn-teal { 
  color: #ffffff; 
  background-color: #16AD8F; 
  border-color: #16AD8F; 
} 
 
.btn-teal:hover, 
.btn-teal:focus, 
.btn-teal:active, 
.btn-teal.active, 
.open .dropdown-toggle.btn-teal { 
  color: #ffffff; 
  background-color: #1D88A3; 
  border-color: #16AD8F; 
} 
 
.btn-teal:active, 
.btn-teal.active, 
.open .dropdown-toggle.btn-teal { 
  background-image: none; 
} 
 
.btn-teal.disabled, 
.btn-teal[disabled], 
fieldset[disabled] .btn-teal, 
.btn-teal.disabled:hover, 
.btn-teal[disabled]:hover, 
fieldset[disabled] .btn-teal:hover, 
.btn-teal.disabled:focus, 
.btn-teal[disabled]:focus, 
fieldset[disabled] .btn-teal:focus, 
.btn-teal.disabled:active, 
.btn-teal[disabled]:active, 
fieldset[disabled] .btn-teal:active, 
.btn-teal.disabled.active, 
.btn-teal[disabled].active, 
fieldset[disabled] .btn-teal.active { 
  background-color: #16AD8F; 
  border-color: #16AD8F; 
} 
 
.btn-teal .badge { 
  color: #16AD8F; 
  background-color: #ffffff; 
}

* {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .ticks {
          font: 10px sans-serif;
        }

        .track,
        .track-inset,
        .track-overlay {
          stroke-linecap: round;
        }

        .track {
          stroke: #000;
          stroke-opacity: 0.3;
          stroke-width: 10px;
        }

        .track-inset {
          stroke: #ddd;
          stroke-width: 8px;
        }

        .track-overlay {
          pointer-events: stroke;
          stroke-width: 50px;
          stroke: transparent;
          cursor: crosshair;
        }

        .handle {
          fill: #fff;
          stroke: #000;
          stroke-opacity: 0.5;
          stroke-width: 1.25px;
        }
        .toolTip {
          position: absolute;
          display: none;
          min-width: 80px;
          height: auto;
          background: none repeat scroll 0 0 #ffffff;
          border: 1px solid #6F257F;
          padding: 14px;
          text-align: center;
        }