/*
    CSS code borrowed from https://sureshlodha.github.io/CMPS165_Fall2016_FinalProjects/BRICS_HDIGDP/
*/
/*
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:40px;
  font-weight: 200;
  font-size: 14px;
}
*/

text {
  cursor: default;
  font-size: 12px;  
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
}

#chart {
  height: 506px;
}

#qt {margin-right:50px;}

/* stying the table */
#credits{
    background-color: #C0C5CE;
    width: 1000px;
    position: relative;
    left: 25px;
}

th, td{
  width: 420px;
}

#header{
    font-size: 16px;
}

.column {
    width: 250px;
}


#titles{
    position: relative;
    left: 220px;
}


.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}



body {
  font-family: sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


h1.title {
  text-align: center;
  color: #0073ab;
}


/*http://jsfiddle.net/Gsj27/5244/*/
.container {
    width: 1000px;
}


.svg {
    width: 80%;
    height: 600px;
    float: left;
}


.options-div {
    margin-left: 80%;
    height: 600px;
    font-size: 14px;
}


.menu-div {
    height: 10%%;
    float: top;
}

.checkbox-div {
    margin-top: 10%;
}


.gender-menu {
    width: 50%;
    float: left;
}

.group-menu {
    margin-left: 50%;
}


.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}


.grid path {
  stroke-width: 0;
}


.axis--x path {
  display: none;
}


.line {
  stroke: steelblue;
  stroke-width: 1.5px;
}




